@{
    ViewBag.Title = "About";
}
<!-- Breadcrumb -->
<section class="bg-half-170 d-table w-100 bg-light" style="background: url('../images/bg/page.png') top center;"
         id="home">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row mt-5">
            <!-- /col -->
            <div class="col-lg-12">
                <div class="title-heading text-center text-md-center">
                    <h3> About Covid 19</h3>
                    <p class="text-muted text-center text-md-center mt-2 mb-0">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <nav aria-label="breadcrumb" class="d-inline-block mt-2">
                        <ul class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /Breadcrumb -->
<!-- About -->
<section class="about-area pt-100 pb-100">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6 align-self-center">
                <div class="mb-20">
                    <img src="../images/bg/about.png" class="img-fluid" alt="image">
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-6 align-self-center">
                <div class="about-text">
                    <div class="title">
                        <p class="title-top">About Covid-19</p>
                        <h2>What is novel coronavirus?</h2>
                        <h4>
                            More than 78,191 people have contracted the virus in China. Health authorities have
                            identified many other people with COVID-19 around the world, including in the United
                            States. On January 31, 2020, the virus pass from one person to another in the U.S.
                            Coronaviruses are a type of virus. There are many different kinds.
                        </h4>
                        <div class="pt-30">
                            <a href="#" class="btn theme-btn">Check Symptoms</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /About -->
<!-- Symptoms -->
<section class="symptoms-area pt-100 pb-100 bg-gray-100">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6">
                <div class="title">
                    <p class="title-top">Covid-19 Symptoms</p>
                    <h2>What are the symptoms?</h2>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus eleifend tortor, vel
                        molestie orci feugiat sit amet:
                    </h4>

                    <div class="row pt-30">
                        <div class="col-md-4">
                            <div class="points">
                                <ul>
                                    <li><i class="las la-check"></i> Sore Throat</li>
                                    <li><i class="las la-check"></i> Fever</li>
                                    <li><i class="las la-check"></i> Runy nose</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="points">
                                <ul>
                                    <li><i class="las la-check"></i> Headache</li>
                                    <li><i class="las la-check"></i> Fatigue</li>
                                    <li><i class="las la-check"></i> Dry cough</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pt-70">
                        <a href="#" class="btn theme-btn">Check Symptoms</a>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <img src="../images/bg/symptoms.png" alt="" class="symptom__bg">
</section>
<!-- /Symptoms -->