@{
    ViewBag.Title = "Home Page";
}

<!-- About -->
<section class="about-area pt-100 pb-100">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6 align-self-center">
                <div class="mb-20">
                    <img src="../images/bg/about.png" class="img-fluid" alt="image">
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-6 align-self-center">
                <div class="about-text">
                    <div class="title">
                        <p class="title-top">About Covid-19</p>
                        <h2>What is novel coronavirus?</h2>
                        <h4>
                            More than 78,191 people have contracted the virus in China. Health authorities have
                            identified many other people with COVID-19 around the world, including in the United
                            States. On January 31, 2020, the virus pass from one person to another in the U.S.
                            Coronaviruses are a type of virus. There are many different kinds.
                        </h4>
                        <div class="pt-30">
                            <a href="#" class="btn theme-btn">Check Symptoms</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /About -->
<!-- Symptoms -->
<section class="symptoms-area pt-100 pb-100 bg-gray-100">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-6">
                <div class="title">
                    <p class="title-top">Covid-19 Symptoms</p>
                    <h2>What are the symptoms?</h2>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus eleifend tortor, vel
                        molestie orci feugiat sit amet :
                    </h4>

                    <div class="row pt-30">
                        <div class="col-md-4">
                            <div class="points">
                                <ul>
                                    <li><i class="las la-check"></i> Sore Throat</li>
                                    <li><i class="las la-check"></i> Fever</li>
                                    <li><i class="las la-check"></i> Runy nose</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="points">
                                <ul>
                                    <li><i class="las la-check"></i> Headache</li>
                                    <li><i class="las la-check"></i> Fatigue</li>
                                    <li><i class="las la-check"></i> Dry cough</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pt-70">
                        <a href="#" class="btn theme-btn">Check Symptoms</a>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <img src="../images/bg/symptoms.png" alt="" class="symptom__bg">
</section>
<!-- /Symptoms -->
<!-- Preventions -->
<section class="prevention pt-100 pb-50">
    <!-- Container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-center">
            <!-- col -->
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <p class="title-top">Preventions</p>
                    <h2 class="title mb-3">How to Stay Safe Important Percautions</h2>
                    <p class="para-desc mx-auto mb-0">
                        If you are healthy, you only need to wear a mask if you are
                        taking care of a person with suspected covid infection.
                    </p>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row justify-content-center">
            <!-- col -->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pre-card p-4 rounded-pill border-0 align-items-center">
                    <div class="icon mb-4">
                        <img src="../images/Prevention/06.png" alt="">
                    </div>
                    <div class="card-body p-0 pt-15 content text-center">
                        <h5 class="mb-3">
                            <a href="hosting-shared.html" class="title text-dark">
                                Wear a
                                Mask
                            </a>
                        </h5>
                        <p class="gray-500 mb-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis tempus eleifend tortor, vel molestie orci feugiat sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pre-card p-4 rounded-pill border-0 align-items-center">
                    <div class="icon mb-4">
                        <img src="../images/Prevention/04.png" alt="">
                    </div>
                    <div class="card-body p-0 pt-15 content text-center">
                        <h5 class="mb-3">
                            <a href="hosting-shared.html" class="title text-dark">Wash Your Hand</a>
                        </h5>
                        <p class="gray-500 mb-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis tempus eleifend tortor, vel molestie orci feugiat sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pre-card p-4 rounded-pill border-0 align-items-center">
                    <div class="icon mb-4">
                        <img src="../images/Prevention/05.png" alt="">
                    </div>
                    <div class="card-body p-0 pt-15 content text-center">
                        <h5 class="mb-3">
                            <a href="hosting-shared.html" class="title text-dark">Cough Etiauette</a>
                        </h5>
                        <p class="gray-500 mb-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis tempus eleifend tortor, vel molestie orci feugiat sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pre-card p-4 rounded-pill border-0 align-items-center">
                    <div class="icon mb-4">
                        <img src="../images/Prevention/03.png" alt="">
                    </div>
                    <div class="card-body p-0 pt-15 content text-center">
                        <h5 class="mb-3">
                            <a href="hosting-shared.html" class="title text-dark">
                                Don't Touch Eyes,Nose
                                or Mouth With Unwashed Hands
                            </a>
                        </h5>
                        <p class="gray-500 mb-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis tempus eleifend tortor, vel molestie orci feugiat sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pre-card p-4 rounded-pill border-0 align-items-center">
                    <div class="icon mb-4">
                        <img src="../images/Prevention/02.png" alt="">
                    </div>
                    <div class="card-body p-0 pt-15 content text-center">
                        <h5 class="mb-3">
                            <a href="hosting-shared.html" class="title text-dark">
                                Avoid Contact With
                                Sick People
                            </a>
                        </h5>
                        <p class="gray-500 mb-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis tempus eleifend tortor, vel molestie orci feugiat sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pre-card p-4 rounded-pill border-0 align-items-center">
                    <div class="icon mb-4">
                        <img src="../images/Prevention/01.png" alt="">
                    </div>
                    <div class="card-body p-0 pt-15 content text-center">
                        <h5 class="mb-3">
                            <a href="hosting-shared.html" class="title text-dark">Clean & Disinfect</a>
                        </h5>
                        <p class="gray-500 mb-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis tempus eleifend tortor, vel molestie orci feugiat sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /Container -->
</section>
<!-- /Preventions -->
<!-- Transmission -->
<section class="transmission pt-100 pb-50">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-center">
            <!-- col -->
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <p class="title-top">Transmission</p>
                    <h2 class="title mb-3">How Virus Spread</h2>
                    <p class="para-desc mx-auto mb-0">
                        Create, collaborate, and turn your ideas into
                        incredible products with the definitive platform for digital design.
                    </p>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row align-items-center">
            <!-- col -->
            <div class="col-lg-6 col-md-6 col-12">
                <div class="mr-lg-5">
                    <img src="../images/transmision/01.png" class="img-fluid" alt="">
                </div>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="ml-lg-5">
                    <div class="media pre-card pre-primary rounded align-items-center p-4 bg-light position-relative overflow-hidden">
                        <span class="h1 icon2 theme-yellow">
                            <img src="../images/transmision/02.png" class="img-fluid" alt="">
                        </span>
                        <div class="media-body content ml-3">
                            <h5>Human Contact</h5>
                            <p class="para mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                                tempus eleifend tortor, vel molestie orci feugiat sit amet.
                            </p>
                        </div>
                    </div>

                    <div class="media pre-card pre-primary rounded align-items-center p-4 bg-light mt-4 position-relative overflow-hidden">
                        <span class="h1 icon2 theme-yellow">
                            <img src="../images/transmision/03.png" class="img-fluid" alt="">
                        </span>
                        <div class="media-body content ml-3">
                            <h5>Air Transmission</h5>
                            <p class="para mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                                tempus eleifend tortor, vel molestie orci feugiat sit amet.
                            </p>
                        </div>
                    </div>

                    <div class="media pre-card pre-primary rounded align-items-center p-4 bg-light mt-4 position-relative overflow-hidden">
                        <span class="h1 icon2 theme-yellow">
                            <img src="../images/transmision/04.png" class="img-fluid" alt="">
                        </span>
                        <div class="media-body content ml-3">
                            <h5>Contaminated Object</h5>
                            <p class="para mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                                tempus eleifend tortor, vel molestie orci feugiat sit amet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /Transmission -->